.filterContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.productCatalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  list-style-type: none;
  padding: 0%;
}
