.product {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 16px;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.product:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.productDetails {
  margin-top: 12px;
  flex-grow: 1;
}

.productButton {
  background-color: #053049;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
